#end-container{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#resultTitle {
    font-size: 2.5rem;
    font-weight: bold;
}


#resultPoints {
    font-size: 2.5rem;
    font-weight: bold;
}


#viewResultsBtn,
#playAgainBtn {
    width: max-content;
}

.good-result{
    color:green;
}

.bad-result{
    color:red;
}