#end-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 150px 0;
}

#viewResultsBtn,
#playAgainBtn {
    width: max-content;
}

.good-result {
    color: green;
}

.bad-result {
    color: red;
}