#results-container {
    width: 100%;
}

.result-container {
    display: inline-block;
    text-align: left;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-width: 0 0 4px;
    background: transparent;
    width: 90%;
}

.result-container:focus {
    outline: 1px solid rgb(0, 0, 0);
}

.result-symbol {
    margin: 0 1rem;
}

.good-answer {
    color: green;
}

.bad-answer {
    color: red;
}