.round{
    position:absolute;
    font-size:3rem;
    font-weight:bold;
    top:17.5%;
    left:43%;
}
.question{
    position:absolute;
    font-size:2.5rem;
    top:30%;
    left:33.5%;
}
.bottoni{
    position:absolute;
    background-color: white;
    border-radius:50px;
    margin:10px;
    padding: 10px 40px;
    width:30%;
    height:6%;
    font-size:1.5rem;
}
.bottoni:focus{
    background-color:#B7B7FD;
}
.bottoni#bottone1{
    top:40%;
    left:18.5%;   
}
.bottoni#bottone2{
    top:40%;
    left:50%; 
}
.bottoni#bottone3{
    top: 55%;
    left:18.5%;    
}
.bottoni#bottone4{
    top:55%;
    left:50%;
}
.numerorisposta{
    font-weight:bold;
}
#bottonenext{
    position:absolute;
    background-color: white;
    border-radius:50px;
    margin:10px;
    padding: 10px 40px;
    width:8%;
    height:6%;
    right:19%;
    bottom:15%;
}