#user-input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user_name {
    color: var(--primary);
    outline: 0;
    border-width: 0 0 4px;
    border-color: rgb(118, 118, 118);
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: inline;
    z-index: 0;
}

.user_name:focus {
    border-color: #333;
}

.user_name::placeholder {
    color: #333;
}

.submit_name {
    display: none;
}

.submit_name::selection,
.submit_name:focus {
    outline: none;
}