.primary-button {
    background: var(--btn-back);
    background: var(--linear-back);
    padding: 10px 40px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 50px auto;
    display: none;
}