.primary-button {
    background-color: white;
    border-radius: 50px;
}

.primary-button:hover {
    background-color: #B7B7FD;
    outline: none;
}

.primary-button:focus {
    background-color: rgb(187, 187, 187);
    outline: none;
}